body{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    background-image: url("/coders.jpg");
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    font-family: 'Roboto', sans-serif;
}

.container{
    margin: 0;
    width: 100%;
    min-height: 100vh;
    background: rgba(0, 0, 0, 0.6);
    display:flex;
}

.wrapper{
    width: 75%;
    margin:0 auto;
    background: rgb(27,27,50,.8);
    min-height: 100%;
    display: flex;
    flex-direction: column;
    color:#fff;
}
.header {
    text-align: center;

}
.header h1 {
    font-size: 3em;
}
.header p {
    font-size: 2em;
}